<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Dashboard - Bootstrap Admin Template</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/public/css/bootstrap-responsive.min.css" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
  <link href="/public/css/font-awesome.css" rel="stylesheet" />
  <link href="/public/css/mystyle.css" rel="stylesheet" />
  <link href="/public/css/pages/dashboard.css" rel="stylesheet" />
  {{{_sections.admin-css}}}
  <style>
    .subnavbar {
      margin-bottom: 2.5rem !important;
    }
    .breadcrumb {
      display: flex;
      flex-wrap: wrap;
      padding: 7px 14px;
      font: 15px/1.7em 'Open Sans';
      margin: 0 0 18px;
      list-style: none;
      background-color: #fbfbfb;
      background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
      background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
      background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
      background-image: linear-gradient(top, #ffffff, #f5f5f5);
      background-repeat: repeat-x;
      filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
      border: 1px solid #ddd;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -moz-box-shadow: inset 0 1px 0 #ffffff;
      box-shadow: inset 0 1px 0 #ffffff;
    }
    .breadcrumb a{
      color: #19bc9c !important;
    }
  </style>
</head>

<body>
  <div>
  </div>
  <div class="navbar navbar-fixed-top d-block">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" id="home" href="/admin/dashboard">Newspaper Web Admin
        </a>
        <!--/.nav-collapse -->
      </div>
      <!-- /container -->
    </div>
    <!-- /navbar-inner -->
  </div>
  <!-- /navbar -->
  <div class="subnavbar">
    <div class="subnavbar-inner">
      <div class="container">
        <ul class="mainnav">
          {{#each lcNavItems}}
            <li class="{{class}}"><a class="navItem" href="{{href}}"><i class="{{icon}}"></i><span>{{name}}</span>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
      <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
  </div>
  <!-- /subnavbar -->
  <div class="main">
    <div class="container">
      {{{_sections.admin-breadcrumb}}}
      {{{body}}}
    </div>
    <!-- /container -->
  </div>
  <!-- /main -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
  {{{_sections.admin-js}}}
</body>

</html>