<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Dashboard - Bootstrap Admin Template</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/public/css/bootstrap-responsive.min.css" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
  <link href="/public/css/font-awesome.css" rel="stylesheet" />
  <link href="/public/css/mystyle.css" rel="stylesheet" />
  <link href="/public/css/pages/dashboard.css" rel="stylesheet" />
  <style>
    .navbar{
      background-color: black;
      margin: 0;
    }
    .dropdown-menu a:hover{
      color: black !important;
    }

  </style>
  {{{_sections.admin-css}}}
</head>

<body>
  <div>
  </div>
  <nav class="navbar navbar-expand-lg py-0">
    <a class="navbar-brand text-white font-weight-bold" href="/admin">CNTN News Admin Page</a>
    <a class="nav-link text-white" href="/"> 
      <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      News page
    </a>
    <div class="navbar-nav ml-auto mr-4">
      <div class="dropdown d-flex justify-content-center position-relative">
        <button type="button" id="btnLogin"
          class="btn bg-transparent text-white p-0 m-0 d-flex align-items-center justify-content-center"
          data-toggle="dropdown">
          <i class="fa fa-user-circle fa-2x mr-2" aria-hidden="true"></i>
          <p class="text-center m-0 font-weight-bold" id="txtLogin">
            {{account.DisplayName}}
          </p>
        </button>
        <div class="dropdown-menu bg-dark border mt-2 py-2 position-absolute" style="z-index: 100;">
          <a href="/account/profile" class="dropdown-item text-white"><i class="fa fa-user-o"></i> Profile</a>
          <a href="/account/logout" class="dropdown-item text-white"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="subnavbar">
    <div class="subnavbar-inner">
      <div class="container">
        <ul class="mainnav">
          {{#each lcNavItems}}
            <li class="{{class}}"><a class="navItem" href="{{href}}"><i class="{{icon}}"></i><span>{{name}}</span>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
      <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
  </div>
  <!-- /subnavbar -->
  <div class="main">
    <div class="container">
      {{{_sections.admin-breadcrumb}}}
      {{{body}}}
    </div>
    <!-- /container -->
  </div>
  <!-- /main -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
  {{{_sections.admin-js}}}
</body>

</html>