<script>
    $('#modalPremiumRequest').on('hidden.bs.modal', function(){
        window.location.reload();
    })
    $(document).scroll(function () {
        var $nav = $(".relatedPostContainer");
        if ($(this).scrollTop() > $("#postContent").offset().top - 150) {
            if ($(this).scrollTop() < $("#postTag").offset().top - $(".relatedPostContainer").height() - 200) {
                $nav.css({ 'position': 'relative', 'top': $(this).scrollTop() - $("#postContent").offset().top + 160 })
            }
        }
        else {
            $nav.css({ 'position': 'static', 'top': '0px' });
        }
    });

    function postNewComment() {
        if ({{ accountID }} !== -1) {
        var comment = $('#inputComment').val();
            if (comment !== "") {
                var time = new Date();
                var timeStr = time.getFullYear() + "-";
                var month = time.getMonth() + 1;
                if (month < 10) {
                    timeStr = timeStr + '0';
                }
                timeStr = timeStr + month.toString() + '-';
                var day = time.getDate();
                if (day < 10) {
                    timeStr = timeStr + '0';
                }
                timeStr = timeStr + day.toString() + ' ' + time.toTimeString().substring(0, 8);

                var newDiv = $('<div class="comment my-3"><div class="d-flex"><div class="mr-1"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></div><div class="triangle-left"><div class="inner-triangle"></div></div><div><div class="rounded px-2 py-1 comment-content"><div class="comment-user"><strong>' + '{{accountName}}' + '</strong></div><div class="comment-text">' + comment + '</div></div><div class="mt-1 comment-time d-flex justify-content-start"><i class="fa fa-clock-o" aria-hidden="true"></i><small>&nbsp;' + timeStr.toString() + '</small></div></div></div></div>');
                $("#listComments").before(newDiv);
                var dateComment =
                    $.post('/post/addComment', {
                        PostID: {{post.PostID}},
                        AccountID: {{accountID}},
                        DateTime: timeStr,
                        Content: comment
                    }, function() {});
                $('.totalComment').text($('.comment').length)
                $('#inputComment').val("");
            }
        }
        else {
            $('#btnLogin').click();
        }
        return false;
    }

    function getPDF() {
        html2pdf().from(document.getElementById("postPdf")).save();
        return false;
    }

    function goToLogin(){
        $('#btnLogin').click();
    }

    function goToRegister(){
        window.location = "/account/register/";
        return false;
    }

    function insPremium(){
        $.post('/post/insertPremiumRequest', {
            AccountID: {{accountID}},
        }, function() {});
        $('#modalPremiumRequest').modal('show');
        return true;
    }
</script>

<style>
    #postCategoryName {
        color: black;
    }

    #postContent p:first-child {
        font-size: x-large;
    }

    #postImg>img {
        max-width: 100%;
        min-width: 100%;
    }

    #postContent>.imgInContent {
        max-width: 100%;
        min-width: 100%;
    }

    #postContent>.titleImgInContent {
        font-style: italic;
        font-size: medium;
    }

    .imgThumb {
        max-width: 100%;
        min-width: 100%;
        height: 8vh;
        background-size: cover;
    }

    .postTagElement:hover {
        background-color: black !important;
        color: white !important;
    }

    .relatedPost:hover {
        background-color: black !important;
        color: white !important;
    }

    .relatedPost:hover a {
        color: white !important;
    }

    .triangle-left {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 8px solid gray;
        border-bottom: 8px solid transparent;
        content: "";
        position: relative;
        top: 10px
    }

    .inner-triangle {
        position: relative;
        top: -7.5px;
        left: 3px;
        width: 0;
        height: 0;
        border-top: 7.5px solid transparent;
        border-bottom: 7.5px solid transparent;
        border-right: 7.5px solid white;
    }

    .comment-content {
        max-width: 100%;
        background-color: white;
        border: 1px solid gray;
    }

    .layout-premium {
        z-index: 30;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9), white);
    }

    @media only screen and (max-width: 1000px) {
        #postComputer {
            display: none;
        }

        #postPhone {
            display: block !important;
        }
    }
</style>

<div class="modal fade" id="modalPremium" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Oops!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#if isPemding}}
                    Chúng tôi đã nhận được yêu cầu của bạn và sẽ duyệt yêu cầu sớm nhất có thể.
                    <br>
                    Cảm ơn bạn đã theo dõi <a href="/"><strong>CNTN NEWS</strong></a>
                {{else}}
                    Nâng cấp <strong>PREMIUM</strong> để có những trải nghiệm tuyệt vời này nhé!!!
                {{/if}}
            </div>
            <div class="modal-footer">
                {{#if hasAccount}}
                {{#if isPending}}
                    <button type="button" class="btn btn-dark mr-0 rounded p-2" data-dismiss="modal">THOÁT</button>
                {{else}}
                    <button type="button" class="btn btn-dark mr-0 rounded p-2" onclick="return insPremium()" data-dismiss="modal">NÂNG CẤP NGAY</button>
                {{/if}}
                {{else}}
                    <button type="button" class="btn btn-dark mr-0 rounded p-2" onclick="return goToLogin()" data-dismiss="modal">ĐĂNG NHẬP</button>
                    <button type="button" class="btn btn-dark mr-0 rounded p-2" onclick="return goToRegister()">ĐĂNG KÝ</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPremiumRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><strong>Đã gửi yêu cầu</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    Chúng tôi đã nhận được yêu cầu của bạn và sẽ duyệt yêu cầu sớm nhất có thể.
                    <br>
                    Cảm ơn bạn đã theo dõi <a href="/"><strong>CNTN NEWS</strong></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark mr-0 rounded p-2" data-dismiss="modal">THOÁT</button>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #f7f7f7;">
    <div class="container jumbotron pt-3">
        <div>
            <a href="/category/{{post.CategoryID}}?page=0" id="postCategoryName">
                {{post.CategoryName}}
            </a>
        </div>
        <div class="p-2" id="postImg">
            <img src="/public/imgs/post/{{post.PostID}}/main.jpg" class="img-fluid" alt="Responsive image">
        </div>
        {{#if post.Premium}}
        <div id="postTitle" class="h1 my-2">
            <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
            {{post.Title}}
        </div>
        {{else}}
        <div id="postTitle" class="h1 my-2">
            {{post.Title}}
        </div>
        {{/if}}
        <div id="postWriter">
            <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
            <span>
                {{post.Writer}}
            </span>
        </div>
        <div class="row mt-2 py-2" style="background-color: #f7f7f7;">
            <div class="col-8">
                <i class="fa fa-calendar px-2" aria-hidden="true"></i>
                <span id="postPublishDate">
                    {{post.PublishDate}}
                </span>
            </div>
            <div class="col-2">
                <i class="fa fa-eye" aria-hidden="true"></i>
                {{post.ViewCount}}
            </div>
            <div class="col-2">
                <span><i class="fa fa-comment" aria-hidden="true"></i></span>
                <span class="totalComment">{{post.TotalComment}}</span>
            </div>
        </div>

        <div id="postComputer"> 
            <div class="row mt-4">
            <div class="col-8">
                <div class="font-weight-normal" id="postContent">
                    {{{post.Content}}}
                </div>
                <div id="postTag">
                    {{#each listTag}}
                    <a class="postTagElement container p-1 px-2 mr-1" href="/tag/{{TagID}}?page=0"
                        style="background-color: #eeeeee;">
                        {{TagName}}
                    </a>
                    {{/each}}
                </div>

            </div>
            <div class="col-4 relatedPostContainer" style="background-color: #f7f7f7; height: fit-content">
                <div class="h4 mt-2">
                    Các bài viết liên quan
                </div>
                <div>
                    {{#each top5RelatedPost}}
                    <div class="row my-2 py-2 relatedPost" style="background-color: #f7f7f7;">
                        <div class="col-5">
                            <img src="/public/imgs/post/{{PostID}}/main.jpg" class="imgThumb rounded" alt="">
                        </div>
                        <a class="col-7 pl-0 h6 postTitleRelated" href="/post/{{PostID}}" style="font-size: medium;">
                            {{Title}}
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
            </div>
        </div>
        <div id="postPhone" class="row" style="display: none;">
            <div class="col-12">
            <div class="font-weight-normal" id="postContent">
                    {{{post.Content}}}
                </div>
                <div id="postTag">
                    {{#each listTag}}
                    <a class="postTagElement container p-1 px-2 mr-1" href="/tag/{{TagID}}?page=0"
                        style="background-color: #eeeeee;">
                        {{TagName}}
                    </a>
                    {{/each}}
                </div>
                
            </div>
                <div class="h4 mt-2">
                    Các bài viết liên quan
                </div>
                <div>
                    {{#each top5RelatedPost}}
                    <div class="row my-2 py-2 relatedPost mx-2 rounded" style="background-color: #f7f7f7;">
                        <div class="col-5">
                            <img src="/public/imgs/post/{{PostID}}/main.jpg" class="imgThumb rounded" alt="">
                        </div>
                        <a class="col-7 pl-0 h6 postTitleRelated" href="/post/{{PostID}}" style="font-size: medium;">
                            {{Title}}
                        </a>
                    </div>
                    {{/each}}
                </div>
        </div>
        <div style="display: none;">
            <div id="postPdf" style="padding-top: 20px; padding-left: 20px; padding-right: 20px">
                <style>
                    #postContent>.imgInContent {
                        max-width: 100%;
                        min-width: 100%;
                    }

                    #postContent>.titleImgInContent {
                        font-style: italic;
                        font-size: medium;
                    }

                    #postContent p:first-child {
                        font-size: x-large;
                    }

                    #postImg>img {
                        max-width: 100%;
                        min-width: 100%;
                    }
                </style>
                <div class="p-2" id="postImg">
                    <img src="/public/imgs/post/{{post.PostID}}/main.jpg" alt="Responsive image">
                </div>
                <h1 id="postTitle" class="h1 my-2" style=" margin-top: 20px; margin-bottom: 20px">
                    {{post.Title}}
                </h1>
                <div class="font-weight-normal" id="postContent">
                    {{{post.Content}}}
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>