{{#section "editor-css"}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/css/fileinput.min.css" media="all"
    rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
    crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/css/fileinput.min.css" media="all"
    rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/public/css/pages/writer-post-add.css">
  <style>
    #publish-post-container {
      padding: 1rem 2rem;
      padding-top: 0;
    }

    .title {
      font-family: 'Noto Serif';
      font-weight: 400;
      font-size: 1.5rem;
    }

    .subtitle {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #646970;
      font-size: 14px;
      margin-bottom: 1rem;
    }

    .card-header:not(:first-child) {
      border-top: 1px solid rgba(0, 0, 0, .125);
    }
  </style>
{{/section}}
{{#section "editor-breadcrumb"}}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Phóng viên</li>
      <li class="breadcrumb-item"><a href="/editor/categories">Chuyên mục quản lý</a></li>
      <li class="breadcrumb-item"><a href="/editor/categories/{{post.CategoryID}}">{{post.CategoryName}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Duyệt bài</li>
    </ol>
  </nav>
{{/section}}
{{#section 'editor-js'}}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
  <script src="https://unpkg.com/select-pure@latest/dist/index.js"></script>
  <script>
    jQuery('#form').on('submit', (e) => {
      e.preventDefault();
      if (jQuery('#publishDate').val().includes('_')) { //trống
        jQuery(`#publishDateErr`).append(
          `<div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <span>Vui lòng chọn ngày xuất bản</span>
          </div>`
        );
        return;
      };
      jQuery('#form').off('submit').submit();
    });

    //Handle select-pure, nó tạo 1 input hidden để nhận giá trị của select, 
    //nhưng chỉ trigger khi click nên phải chủ động gán giá trị default cho nó
    jQuery(document).ready(() => {
      const originTags = document.querySelector("#originTags").values;
      jQuery("[name='originTags']").val(originTags).trigger('change')
      const tags = document.querySelector("#tags").values;
      jQuery("[name='tags']").val(tags).trigger('change');

      jQuery('#publishDate').datetimepicker({
        format: 'd/m/Y',
        minDate: "{{getTomorrow }}",
        timepicker: false,
        mask: true,
        allowBlank: true,
        validateOnBlur: false,
      });
    })


  </script>
{{/section}}
<div id="publish-post-container">
  <div class="title">Duyệt bài</div>
  <div class="subtitle">
    Hiệu chỉnh các thông tin: chuyên mục, nhãn và xác định thời điểm bài viết xuất bản
  </div>
  <div class="card">
    <h4 class="card-header">
      Thông tin bài viết
    </h4>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="title">Tiêu đề</label>
          <input type="text" class="form-control" value="{{this.post.Title}}" disabled />
        </div>
        <div class="form-group mb-0">
          <label for="writer">Tác giả</label>
          <input type="text" class="form-control w-25" value="{{this.post.Writer}}" disabled />
        </div>
      </form>
    </div>
    <h4 class="card-header">
      Hiệu chỉnh
    </h4>
    <div class="card-body">
      <form method="POST" id="form">
        <input type="hidden" value='{{this.post.PostID}}' name='postID'>
        <input type="hidden" value='{{this.post.CategoryID}}' name='oldCatID'>
        <div class="form-group mb-4">
          <label for="tag">Nhãn</label>
          <select-pure name="originTags" hidden id="originTags" multiple>
            {{#each this.postTags}}
              <option-pure value={{this}} selected></option-pure>
            {{/each}}
          </select-pure>
          <select-pure name="tags" id="tags" multiple>
            {{#each this.tagList}}
              <option-pure value={{ID}} {{getSelectedAttr ID ../this.postTags}}>{{Name}}
              </option-pure>
            {{/each}}
          </select-pure>
        </div>
        <div class="form-row mb-3">
          <div class="col-md-5">
            <label for="category">Chuyên mục</label>
            <select name="category" id="category" class="form-control w-75">
              {{#each this.catList}}
                <option value={{ID}} {{getSelectedAttr ID ../this.post.CategoryID}}>{{Name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="col-md-5">
            <div class="w-75">
              <label for="publishDate">Ngày xuất bản</label>
              <input name="publishDate" id="publishDate" class="form-control">
              <div id="publishDateErr"></div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">
          <i class="fa fa-upload" aria-hidden="true"></i>
          Duyệt
        </button>
      </form>
    </div>
  </div>
</div>