{{#section 'admin-css'}}
  <style>
    .big_stats {
      display: flex !important;
    }

    .big_stats .stat {
      width: 25%;
      height: unset;
    }

    .big_stats .stat h2 {
      color: #393333;
    }

    .big_stats .stat:hover {
      text-decoration: none;
    }
    .shortcut{
      position: relative;
    }
    .shortcut .fa-plus{
      position: absolute;
      top: 25%;
      font-size: 12px !important;
    }
    .shortcut-icon:first-child{
      margin-right: 2px;
    }
    .big_stats.readonly i{
      color: inherit;
    }
    .big_stats.readonly .stat:hover i{
      color: inherit;
    }
  </style>
{{/section}}
<div class="row">
  <div class="col-12">
    <div class="widget widget-nopad">
      <div class="widget-header"> <i class="fa fa-industry" aria-hidden="true"></i>
        <h3>Resources Overview</h3>
      </div>
      <!-- /widget-header -->
      <div class="widget-content">
        <div class="widget big-stats-container">
          <div class="widget-content">
            <div class="cf big_stats">
              <a href="/admin/posts" class="stat">
                <i class="fa fa-pencil-square-o"></i>
                <span class="value">{{totalPost}}</span>
                <h2>Posts</h2>
              </a>
              <a href="/admin/categories" class="stat">
                <i class="fa fa-list-alt"></i>
                <span class="value">{{totalCategory}}</span>
                <h2>Categories</h2>
              </a>
              <a href="/admin/tags" class="stat">
                <i class="fa fa-tags"></i>
                <span class="value">{{totalTag}}</span>
                <h2>Tags</h2>
              </a>
              <a href="/admin/accounts" class="stat">
                <i class="fa fa-users"></i>
                <span class="value">{{totalAccount}}</span>
                <h2>Accounts</h2>
              </a>
              <a href="/admin/premium" class="stat">
                <i class="fa fa-rocket"></i>
                <span class="value">{{totalPremiumRequest}}</span>
                <h2>Premium Requests</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="widget widget-nopad">
      <div class="widget-header"> <i class="fa fa-line-chart" aria-hidden="true"></i>
        <h3>Visitors Behavior</h3>
      </div>
      <div class="widget-content">
        <div class="widget big-stats-container">
          <div class="widget-content">
            <div class="cf big_stats readonly">
              <div class="stat">
                <i class="fa fa-eye"></i>
                <span class="value">{{totalView}}</span>
                <h2>Views</h2>
              </div>
              <div class="stat">
                <i class="fa fa-comments"></i>
                <span class="value">{{totalComment}}</span>
                <h2>Comments</h2>
              </div>
              <div class="stat">
                <i class="fa fa-user"></i>
                <span class="value">{{totalSubscriber}}</span>
                <h2>Subcribers</h2>
              </div>
              <div class="stat">
                <i class="fa fa-get-pocket"></i>
                <span class="value">{{totalPremiumSubcriber}}</span>
                <h2>Premium Subcribers</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="widget">
      <div class="widget-header"> <i class="icon-bookmark"></i>
        <h3>Important Shortcuts</h3>
      </div>
      <div class="widget-content p-0 pt-2">
        <div class="shortcuts">
          <a href="/admin/categories/add" class="shortcut">
            <i class="shortcut-icon fa fa-list-alt"></i>
            <i class="shortcut-icon fa fa-plus"></i>
            <span class="shortcut-label">New Category</span> 
          </a>
          <a href="/admin/tags/add" class="shortcut">
            <i class="shortcut-icon fa fa-tags"></i>
            <i class="shortcut-icon fa fa-plus"></i>
            <span class="shortcut-label">New Tag</span> 
          </a>
          <a href="/admin/posts/add" class="shortcut">
            <i class="shortcut-icon fa fa-pencil-square-o"></i>
            <i class="shortcut-icon fa fa-plus"></i>
            <span class="shortcut-label">New Post</span> 
          </a>
          <a href="/admin/accounts/add" class="shortcut mb-2">
            <i class="shortcut-icon fa fa-user-plus"></i>
            <span class="shortcut-label">New Account</span> 
          </a>
        </div>
      </div>
    </div>
  </div>
</div>