{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/public/styles/profile.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/register-login.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
  <script>
    $('#modalPremiumRequest').on('hidden.bs.modal', function(){
        window.location.reload();
    })
    function validateEmail(email) {
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }

    function insPremium(){
        $.post('/post/insertPremiumRequest', {
            AccountID: {{account.ID}},
        }, function() {});
        $('#modalPremiumRequest').modal('show');
        return true;
    }

    function removeDiv(elem){
        $(elem).parent('div').remove();
    }

    async function checkExists(value, field){
            const data = await $.getJSON(`/account/is-available?${field}=${value}`);
            if (data === false) {
                return `${field} already exists`;
            }
            else
                return null;
        }

    const baseDName = $('#txtADName').val();
    const baseFName = $('#txtAFName').val();
    const baseLName = $('#txtALName').val();
    const baseEmail = $('#txtAEmail').val();
    const baseDOB = $('#txtADOB').val();

    $('#btnSave').hide();
    $('#btnClose').hide();


    $('#btnEdit').click(function(){
      $('#btnSave').show();
      $('#btnClose').show();
      $('#txtADName').prop("disabled", false);
      $('#txtAFName').prop("disabled", false);
      $('#txtALName').prop("disabled", false);
      $('#txtAEmail').prop("disabled", false);
      $('#txtADOB').prop("disabled", false);
      $('#h3Title').toggleClass('mt-4');

      $('#lbDName').toggleClass('disabled');
      $('#lbFName').toggleClass('disabled');
      $('#lbLName').toggleClass('disabled');
      $('#lbEmai').toggleClass("disabled");
      $('#lbDOB').toggleClass("disabled");

      $(this).hide();
    });

    $('#btnSaveContainer').on("click", "#btnClose", function(){
      $('#btnEdit').show();
      $('#btnSave').hide();
      $('#btnClose').hide();

      $('#txtADName').val(baseDName);
      $('#txtAFName').val(baseFName);
      $('#txtALName').val(baseLName);
      $('#txtAEmail').val(baseEmail);
      $('#txtADOB').val(baseDOB);

      $('#txtADName').prop("disabled", true);
      $('#txtAFName').prop("disabled", true);
      $('#txtALName').prop("disabled", true);
      $('#txtAEmail').prop("disabled", true);
      $('#txtADOB').prop("disabled", true);
      $('#h3Title').toggleClass('mt-4');

      $('#lbDName').toggleClass("disabled");
      $('#lbFName').toggleClass("disabled");
      $('#lbLName').toggleClass("disabled");
      $('#lbEmai').toggleClass("disabled");
      $('#lbDOB').toggleClass("disabled");
    })

    $('#frmEdit').on('submit', async function(e){
      e.preventDefault();
      const FName = $('#txtAFName').val();
      const LName = $('#txtALName').val();
      const email = $('#txtAEmail').val();
      const dob = $('#txtADOB').val();
      let error = null;
      if (!FName || !LName || !email || !dob)
        error = "Please fill in all fields";
      else if(!validateEmail(email))
        error = "Email not valid";

      if (error === null){      
          if (baseEmail !== email){
            const isExistsEmail = await checkExists(email, "Email");
            if (isExistsEmail)
                error = isExistsEmail;
            else
              $('#frmEdit').attr('action', '/account/profile?emailChange=1');
          }
          else 
            $('#frmEdit').attr('action', '/account/profile?emailChange=0');
      }

      $('#dvAccountMessage').empty();
      if(error !== null)
        $('#dvAccountMessage').append(
                      `<div class="alert alert-danger w-100 bg-transparent color-lightred d-flex align-items-center justify-content-between" role="alert">${error}<button type="button" id="btnShowPassword" onClick="removeDiv(this)" class="btn bg-transparent w-auto h-auto p-0 m-0"><i class="fa fa-times"></i></button></div>`
                  );
      else
        $(this).unbind('submit').submit();

    });

    $('#txtADOB').datetimepicker({
      format:'d/m/Y',
      timepicker: false,
      mask: true
    });
    const imgSrc = "../../public/svg/" + "{{account.AccountType}}".toLowerCase() + ".svg";
    $('#imgAccount').attr('src', imgSrc);
  </script>
{{/section}}
<div class="modal fade" id="modalPremiumRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><strong>Đã gửi yêu cầu</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    Chúng tôi đã nhận được yêu cầu của bạn và sẽ duyệt yêu cầu sớm nhất có thể.
                    <br>
                    Cảm ơn bạn đã theo dõi <a href="/"><strong>CNTN NEWS</strong></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark mr-0 rounded p-2" data-dismiss="modal">THOÁT</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark p-5">
<div class="container mt-5 d-flex justify-content-center">
  <div class="row w-75">
      <div class="card w-100 bg-main p-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img id="imgAccount"
              src="../../public/svg/user.svg"
              alt="..."
              class="img-fluid"
            />
          </div>
          <div class="col-md-8 text-white">
            <div class="card-body">
              <h5 class="card-title">{{account.DisplayName}} - {{account.AccountType}}</h5>
              <p class="card-text text-white">
                {{#each descriptions}}
                <p>{{desp}}</p>
                {{/each}}
              </p>
              <p class="card-text text-white">
                Bạn có thể thay đổi thông tin tài khoản bên dưới
              </p>
            </div>
          </div>
        </div>
      </div>
             <!-- Card -->
        <div class="card w-100 card-cascade narrower bg-main my-5">

            <!-- Card image -->
            <div class="view view-cascade gradient-card-header mdb-color lighten-3 text-center pt-0">
              <div id="dvATitle" class="row d-flex align-items-center justify-content-center flex-column">
                
                <button type="button" class="btn btn-info align-self-end py-2 px-3" id="btnEdit"> 
                  <i class="fa fa-pencil"></i>
                </button>
                <h3 class="mb-0 font-weight-bold" id="h3Title">Thông tin tài khoản</h3>
              </div>
            </div>
            <!-- Card image -->

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <div id="dvAccountMessage">
                {{#if message}}
                    <div class="alert alert-success w-100 bg-transparent color-lightgreen" role='alert'>{{message}}
                      <button type="button" onClick="removeDiv(this)" class="btn bg-transparent w-auto h-auto p-0 m-0"><i class="fa fa-times"></i></button>
                    </div>
                {{/if}}
            </div>

            <!-- Edit Form -->
            <form class="p-3" id="frmEdit" method="POST" autocomplete="off">
                <div class="md-form mb-0">
                    <input type="text" id="txtADName" name="txtADName" class="form-control validate text-white" value="{{account.DisplayName}}" disabled>
                    <label id="lbDName" for="txtADName" class="disabled" data-error="wrong" data-success="right">Display Name</label>
                </div>

                <div class="md-form mb-0">
                    <input type="text" id="txtAFName" name="txtAFName" class="form-control validate text-white" value="{{account.FirstName}}" disabled>
                    <label id="lbFName" for="txtAFName" class="disabled" data-error="wrong" data-success="right">First Name</label>
                </div>

                <div class="md-form mb-0">
                    <input type="text" id="txtALName" name="txtALName" class="form-control validate text-white" value="{{account.LastName}}" disabled >
                    <label id="lbLName" for="txtALName" class="disabled" data-error="wrong" data-success="right">Last Name</label>
                </div>

                <div class="md-form mb-0">
                    <input type="text" id="txtAEmail" name="txtAEmail" class="form-control validate text-white" value="{{account.Email}}" disabled >
                    <label id="lbEmail" for="txtAEmail" data-error="wrong" data-success="right">Email</label>
                </div>

                <div class="md-form mb-0">
                    <input type="text" id="txtADOB" name="txtADOB" class="form-control" readonly="readonly" value="{{account.DOB}}" disabled>
                    <label id="lbDOB" for="txtADOB" data-error="wrong" data-success="right">DOB</label>
                </div>

              <div id="btnSaveContainer">
                  <button type="submit" class="btn btn-outline-info text-black" id="btnSave"> Save </button>
                  <button type="button" class="btn btn-outline-info text-black" id="btnClose"> Close </button>
              </div>
            </form>
            <!-- Edit Form -->
          </div>
          <!-- Card content -->
          {{#if isPremium}}
          {{else}}
          {{#if isPending}}
          <div class="text-white py-2 px-4">Tài khoản của bạn đã đăng ký PREMIUM và đang chờ xét duyệt.</div>
          {{else}}
          <button type="button" class="mx-5 btn btn-white rounded p-2" style="vertical-align:middle; font-size:x-large" onclick="return insPremium()" data-dismiss="modal" ><strong>NÂNG CẤP PREMIUM</strong></button>
          {{/if}}
          {{/if}}
        </div>
        <!-- Card -->

      </div>
       
    </div>

</div>