{{#section "admin-css"}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
  <style>
    .widget-header {
      padding: 0.5rem;
    }

    div.dataTables_filter input {
      height: 1.2rem;
    }

    .dataTables_wrapper {
      padding: 0.5rem;
    }

    .table.table-bordered.dataTable {
      margin-top: 0 !important;
    }
  </style>
{{/section}}
{{#section "admin-breadcrumb"}}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">All Posts</li>
    </ol>
  </nav>
{{/section}}
{{#section "admin-js"}}
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
  <script>
    $(document).ready(function () { $('#example').DataTable(); });
    $(document).on("click", ".publish", function () {
      const postID = $(this).parents("td").siblings("th").text();
      const publishDate = new Date().toISOString().slice(0, 19).replace('T', ' '); //convert js Date to sql datetime
      $.post('/admin/posts/publish',
        {
          postID,
          publishDate
        },
        function () {
          location.reload();
        });
    })
    function handleDelete(post) {
      jQuery.post("/admin/posts/delete", { ID: post.PostID }, () => location.reload());
    }
    $(document).on("click", ".changeDate", function () {
      const postID = $(this).parents("td").siblings("th").text();
      const newPublishDate = $(this).siblings("input").datetimepicker('getValue');
      $.post('/admin/posts/change-publish-date',
        {
          postID,
          newPublishDate
        },
        function () {
          location.reload();
        });
    });
    jQuery('.publishDate').datetimepicker({
      format: 'd/m/Y',
      timepicker: false,
      mask: false,
      allowBlank: true,
      validateOnBlur: false,
    });
  </script>
{{/section}}
<div class="widget widget-table action-table w-100">
  <div class="widget-header d-flex justify-content-between align-items-center" style="height: 3rem">
    <div>
      <i class="icon-th-list"></i>
      <h3>All Posts</h3>
    </div>
    <a class="btn btn-success" href="/admin/posts/add" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add Post
    </a>
  </div>
  <div class="widget-content overflow-auto">
    {{#if this.empty}}
      <h5 class="card-title">No data found!</h5>
    {{else}}
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Abstract</th>
            <th>Writer</th>
            <th>Category</th>
            <th>Status</th>
            <th>Premium</th>
            <th class="td-actions">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.list}}
            <tr>
              <th>{{PostID}}</th>
              <td>{{Title}}</td>
              <td>{{Abstract}}</td>
              <td>{{Writer}}</td>
              <td>{{CategoryName}}</td>
              <td>
                {{#isDraft Status}}
                  {{Status}}
                  <button class="d-block mt-1 btn btn-info publish" style="height: 3rem;">
                    Publish
                  </button>
                {{else}}
                  {{#isUnPublish Status}}
                    Publish on:
                    <input class="publishDate" style="width: 6rem;" value="{{formatTime this.PublishDate}}">
                    <button class="d-block mt-1 btn btn-info changeDate" style="height: 3rem;">
                      Change
                    </button>
                  {{else}}
                    {{Status}}
                  {{/isUnPublish}}
                {{/isDraft}}
              </td>
              <td>{{Premium}}</td>
              <td>
                <a class="btn btn-primary btn-large" href="/admin/posts/edit?id={{PostID}}" role="button" title="Edit">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a class="btn btn-success btn-large" href="/admin/posts/{{PostID}}" role="button" title="Detail">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <button type="button" class='btn btn-danger mt-1' onclick="handleDelete({{jsonParse this}})">
                  <i class='fa fa-trash-o' aria-hidden='true'></i>
                </button>
              </td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Abstract</th>
            <th>Writer</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Premium</th>
            <th class="td-actions">&nbsp;</th>
          </tr>
        </tfoot>
      </table>
    {{/if}}
  </div>
</div>