
{{#section "admin-css"}}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css"
  />
  <style>
    .widget-header{
      padding: 0.5rem;
    }
    div.dataTables_filter input{
      height: 1.2rem;
    }
    .dataTables_wrapper{
      padding: 0.5rem;
    }
    .table.table-bordered.dataTable{
      margin-top: 0 !important; 
    }

  </style>
{{/section}}
{{#section "admin-js"}}
<script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.5.1.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"
  ></script>
  <script>
    $(document).ready(function() { $('#example').DataTable(); } );
  </script>
{{/section}}

{{#section "admin-breadcrumb"}}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categories</li>
  </ol>
</nav>
{{/section}}

<div class="widget widget-table action-table maxWidth8">
  <div
    class="widget-header d-flex justify-content-between align-items-center"
    style="height: 3rem"
  >
    <div>
      <i class="icon-th-list"></i>
      <h3>Category Table</h3>
    </div>
    <a class="btn btn-success" href="/admin/categories/add" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add Category
    </a>
  </div>
  <div class="widget-content">
    {{#if this.empty}}
      <h5 class="card-title">No data found!</h5>
      <p class="card-text">With supporting text below as a natural lead-in to
        additional content.</p>
    {{else}}
      <table
        id="example"
        class="table table-striped table-bordered"
        style="width:100%"
      >
        <thead>
          <tr>
            <th>#</th>
            <th>Category</th>
            <th>Parent Category</th>
            <th class="td-actions">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.categories}}
            <tr>
              <th>{{ID}}</th>
              <td>{{Name}}</td>
              <td>{{ParentName}}</td>
              <td style="text-align: center;">
                <a
                  class="btn btn-primary btn-large"
                  href="/admin/categories/edit?id={{ID}}"
                  role="button"
                  title="Edit"
                >
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Category</th>
            <th>Parent Category</th>
            <th class="td-actions">&nbsp;</th>
          </tr>
        </tfoot>
      </table>
    {{/if}}
  </div>
</div>